gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Google Services (Firebase Config)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Android Signing Keys (Crucial for Play Store security)
*.jks
*.keystore
key.properties

# Environment Variables (Where we will hide secrets)
.env
